<h3>Satellite Counts:</h3>
<table class="counts">
   <tr>
       <td>Total:</td><td class="count">{{satellites.length}}</td>
   </tr>
   <tr>
        <td>Space Debris:</td><td class="count">{{countByType("Space Debris")}}</td>
    </tr>
    <tr>
        <td>Communication:</td><td class="count">{{countByType("Communication")}}</td>
    </tr>
    <tr>
        <td>Probe:</td><td class="count">{{countByType("Probe")}}</td>
    </tr>
    <tr>
        <td>Positioning:</td><td class="count">{{countByType("Positioning")}}</td>
    </tr>
    <tr>
        <td>Space Station:</td><td class="count">{{countByType("Space Station")}}</td>
    </tr>
    <tr>
        <td>Telescope:</td><td class="count">{{countByType("Telescope")}}</td>
    </tr>
</table>